[*.cs]

indent_size = 4
tab_width = 4

dotnet_diagnostic.CA1031.severity = silent # Do not catch general exception types
dotnet_diagnostic.CA1307.severity = silent # Specify StringComparison for clarity
dotnet_diagnostic.CA1515.severity = silent # Consider making public types internal
dotnet_diagnostic.CA2007.severity = silent # Do not directly await a Task
dotnet_diagnostic.IDE0045.severity = silent # Use conditional expression for assignment
dotnet_diagnostic.IDE0046.severity = silent # Use conditional expression for return
dotnet_diagnostic.IDE0058.severity = silent # Remove unnecessary expression value
dotnet_diagnostic.IDE0100.severity = silent # Remove unnecessary equality operator

dotnet_style_namespace_match_folder = false
dotnet_style_prefer_collection_expression = false
dotnet_style_require_accessibility_modifiers = never

csharp_prefer_braces = when_multiline
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_namespace_declarations = file_scoped
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
